@import "../../styles/variables.scss";

.Modal {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	top: 0px;
	left: 0px;
	display: block;
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	opacity: 1;

	&.closed {
		opacity: 0;
		transition: opacity 0.3s linear;
	}

	.body {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: white;
		border-radius: 5px;
		z-index: 100;
		max-width: 90vw;
		max-height: 90vh;

		@media (max-width: $layout-breakpoint-small) {
			width: 90vw;
		}
		overflow: auto;
	}

	.content {
		padding: 20px;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #ccc;
		padding: 5px 10px;

		button {
			background: none;
			border: none;
			cursor: pointer;
			font-size: 1.5rem;

			display: flex;
			align-items: center;
		}
	}
}
