.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: #f4f4f4;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	.rightContent {
		display: flex;
		align-items: center;
	}

	.social {
		display: flex;
		align-items: center;
		gap: 5px;
	}
}
